.nav-link a {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    margin-left: 30px;
    color: #757575;
}


.navbar-btn {
    padding: 10px 15px;
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    border-radius: 8px;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    border: none;
}

@media only screen and (max-width: 600px) {
    .header {

        z-index: 1000;
    }
}