.category-container {
    background: linear-gradient(90deg, rgba(126, 144, 254, 0.05) 0%, rgba(152, 115, 255, 0.05) 100%);
    border-radius: 8px;
    padding: 40px;
}

.category-banner {
    /* background: green; */
    background: linear-gradient(90deg, rgba(126, 144, 254, 0.1) 0%, rgba(152, 115, 255, 0.1) 100%);
    border-radius: 8px;
    width: fit-content;
    margin-bottom: 30px;

}

.category-container h3 {
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    color: #474747;
    margin-bottom: 8px;
}

.category-container p {
    margin: 0;
}

.category-banner img {
    background: linear-gradient(90deg, rgba(126, 144, 254, 0.1) 0%, rgba(152, 115, 255, 0.1) 100%);
    border-radius: 8px;
    padding: 15px;
    width: 60px;
    height: 60px;
    padding: 15px;
}