.simpleAreaCart {
    margin-top: 200px;
    text-align: center;
}



@media (min-width: 768px) {
    .banner-top {
        z-index: 100;
    }
}

/* @media only screen and (max-width: 600px) {

    .areaChart,
    .simpleAreaCart {
        width: 400px;
        margin-right: auto;
        margin-left: auto;
    }
} */