.simpleAreaCart {
    margin-top: 200px;
    text-align: center;
}

/* @media only screen and (max-width: 600px) {

    .areaChart,
    .simpleAreaCart {
        width: 400px;
        margin-right: auto;
        margin-left: auto;
    }
} */