.jobDetail-container {
    margin-top: 200px;
}

.details-card {
    background: linear-gradient(90deg, rgba(126, 144, 254, 0.1) 0%, rgba(152, 115, 255, 0.1) 100%);
    border-radius: 8px;
    padding: 20px;
}

.details-card h3 {
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    color: #1A1919;
}

.details-card p {
    font-size: 16px;
    line-height: 27px;
    color: #474747;
}

.icon {
    color: #7E90FE;
}

.apply-now-btn {
    width: 100%;
}